*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  background-color: b;
}

body{
  background-image: url(imgs/paul-gilmore-211347.webp);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100%;
  backface-visibility: opa;
}

.container{
  
}

nav{
  display: flex;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  padding: 5px 0;
}

.logo{
  position: absolute;
  left: 10%;
  top: 30px;
  width: 250px;
  cursor: pointer;
}

nav ul{
  position: absolute;
  top: 10px;
  right: 0%;
  font-size: 17px;
}

nav ul li{
  display: inline-block;
  list-style: none;
  margin:  50px;
  position: relative;
  right: 100px;

}

nav ul li a{
  color: #000000;
  text-decoration: none;
  position: relative;

}

nav ul li a::after{
  content: '';
  width: 50%;
  height: 3px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  background: #ffffff;
  transition: width 0.3s;
}

nav ul li a:hover::after{
  width: 50%;

}


/*Info section CSS*/

.info__div{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  padding: 50%;
}

.slogan__info{
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: left;
  width: 30%;
  position: absolute;
  top: 500px;
  left: 200px;
  color: #fffff1;
  transition: 0.3s;
}

.slogan__info p{
  font-size: 50px;
  text-decoration: underline;
  font-weight: 400;
}

.slogan__info h3{
  margin: 30px 0;
  font-size: 18px;
}

.slogan__info button{
  margin-right: 50px;
  padding: 5px 40px;
  background: transparent;
  color: whitesmoke;
  border: 2px solid white;
  font-family: Poppins;
  font-weight: 400px;
  font-size: 16px;
  border-radius: 1px;
  transition: 0.3s;
  cursor: pointer;
}

.slogan__info button span{
  margin-left: 10px;
  font-size: 20px;
  transition: 0.9s;
  font-weight: bold;
}

.slogan__info button a{
  text-decoration: white;
  color: white;
}

.slogan__info button:hover span{
  padding-left: 200px;
}


.img__div{
  position: absolute;
  right: -500px;
  top: -210px;
  width: 390px;
}


/*Market Div css*/


.market__div{
  position: absolute;
  top: 1430px;
  left: 0px;
  padding: 150px 0;
  right: 0;
  padding-top: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  padding: 100px;
  background-image: url(imgs/932271.jpg);
  background-position: center;
  background-size: cover;

}


.info__market{
  color: whitesmoke;
  top: 1490px;
  left: 40%;
  position: absolute;
  z-index: 100;
  font-size: 20px;
  justify-content: center;
  align-items: center;
}
